[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
[Desktop Entry]
Name=TSDE
Comment=The Smallest Desktop Environment
Exec=/bin/custom_de.sh
Type=Application
